<div class="container mt-4">
    <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Appointment">Appointments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Index">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="ServiceProviders">Service Providers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Reports">Reports</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="ServiceType">Services Type</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="tab-content mt-3">
        @model List<Handyman.Data.Entities.Profile>

        <h2>User List</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.Id</td>
                        <td>@user.FullName</td>
                        <td>@user.Email</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

