    <div class="container-fluid py-4 bg-dark text-white">
        <div class="row">
            <div class="col-md-6">
                <h5>Handyman</h5>
                <p>Your trusted partner for all handyman services.</p>
            </div>
            <div class="col-md-6 text-md-end">
            <ul class="list-unstyled">
                <li><a href="@Url.Action("Privacy", "Home")" class="text-white">Privacy Policy</a></li>
                <li><a href="@Url.Action("Terms", "Home")" class="text-white">Terms of Service</a></li>
                <li><a href="@Url.Action("Contact", "Home")" class="text-white">Contact Us</a></li>
            </ul>
        </div>
    </div>
    <div class="text-center mt-3">
        <p>&copy; 2025 Handyman. All rights reserved.</p>
    </div>
    </div>
