@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
    ViewData["HideNavbar"] = true; // Hide navbar for this page

}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
