@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    ViewData["HideNavbar"] = true; // Hide navbar for this page

}

<h1>@ViewData["Title"]</h1>
<p>
    Please check your email to reset your password.
</p>
