@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register Confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    A confirmation email has been sent to @Model.Email. Please check your email and confirm your account.
</p>


